.wrapper {
    border-radius: 16px;
    padding: 24px;
  }
  
  .header {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 16px;
  
  
  }
  
  
  .avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #cfcfcf;
  }
  
  /* calendar base overrides */
  .calendar {
    --rdp-cell-size: 36px;
    --rdp-accent-color: #1f6bff;
    --rdp-background-color: transparent;
  }
  .wrapper{
    border-radius: 16px;
  }
  .calandarWrap{
    padding: 20px;
  }
  /* LIGHT */
  .light {
    .wrapper{
      background: #f7f7f7;
      color: #0b0b0b;
    }
    &.calandarWrap{
      border-radius: 16px;
      background: #F9FAFB;
    }
  }
  
  /* DARK */
  .dark {
    .wrapper{
      background: rgba(255, 255, 255, 0.06);
      color: #ffffff;
    }
    
    &.calandarWrap{
      border-radius: 16px;
      background: #F9FAFB0D;
    }
  
    .calendar {
      --rdp-accent-color: #4f8cff;
    }
  }
  